.employee{
	border: 3px solid black; 
	border-radius: 25px;
	max-width: 700px;
	padding: 5px;
	box-shadow:  10px 5px grey;
}
.general
{
	float: left;
	clear: left;
	padding: 5px;
}
.eName
{
	display: block;
	padding: 5px;
}

.bio
{
	padding: 5px;
	display: block;
}
.email
{
	display: block;
}
.department
{
	display: block;
}
detail
{
	display: block;
	padding: 5px;
}